p,
h1,
h2 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  overflow: hidden;
  box-sizing: border-box;
}

$color1: #000000;
$colorBlue: #1f80b5;
$colorToBlue: #396282;
$color2: #1f80b533;
$color3: #1f80b54d;

@mixin fontStyle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}

.clear__both {
  &::after,
  &::before {
    display: table;
    content: "";
    clear: both;
  }
}

.paid_mark_show {
  position: absolute;
  top: 50%;
  left: 20%;
}
.paid_mark_hide {
  display: none;
}
#logo img {
  height: 45px;
}
#signature img {
    height: 30px;
    display: block;
    margin: 0 auto;
  }

.invoice {
  font-family: "Inter", sans-serif;
  &__container {
    width: 595px;
    min-height: 792px;
    background-color: white;
    box-shadow: 0px 10px 20px 0px #25314c26;
    position: relative;
    display: block;
    margin: auto;
  }
  &__upper {
    padding: 25px 25px 30px;
    @extend .clear__both;
    &-left {
      width: 50%;
      float: left;
    }
    &-logo {
      padding-bottom: 20px;
    }
    &-header {
      @include fontStyle();
      font-weight: 800;
      line-height: 44px;
      font-size: 44px;
      color: $colorBlue;
      text-transform: uppercase;
    }
    &-right {
      width: 50%;
      float: right;
      &-inner {
        width: 70%;
        margin-left: auto;
      }
    }
    &-to {
      @include fontStyle();
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      color: $colorToBlue;
      padding-bottom: 3px;
    }
    &-name {
      @include fontStyle();
      font-weight: 700;
      color: $color1;
      padding-bottom: 2px;
    }
    &-p {
      @include fontStyle();
    }
  }
  &__about {
    @extend .clear__both;
    &-img {
      width: 100%;
      display: block;
      & img {
        height: 100%;
      }
    }
    &-inner {
      @extend .clear__both;
      padding: 15px 0 15px 110px;
      margin-top: -4px;
      background-color: $color2;
    }
    &-box {
      width: 30%;
      float: left;
      margin-left: auto;
    }
    &-title {
      @include fontStyle();
      font-weight: 700;
      color: $color1;
    }
    &-no {
      @include fontStyle();
      font-weight: 700;
      color: $colorBlue;
    }
    &-text {
      @include fontStyle();
      font-weight: 400;
    }
  }
  &__table {
    padding: 13px 20px;
    & table {
      width: 100%;
    }
    &-head {
      & tr {
        background-color: $colorBlue;
      }
      & td {
        @include fontStyle();
        font-size: 12px;
        color: white;
        padding: 10px 20px;
        &:first-child {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          width: 165px;
        }
        &:last-child {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
    &-body {
      & tr {
        &:nth-child(even) {
          background-color: #1f80b51a;
        }
      }

      & td {
        @include fontStyle();
        line-height: 14px;
        padding: 10px 20px;
        &:not(:first-child) {
          text-align: center;
          padding: 10px;
        }
      }
    }
  }
  &__total {
    padding: 15px 20px;
    background-color: $color2;
    @extend .clear__both;
  }
  &__condition {
    box-sizing: border-box;
    width: 65%;
    float: left;
    padding-right: 30px;
    & .terms-section {
      margin-top: 15%;
    }
    & h1 {
      @include fontStyle();
      font-weight: 700;
      line-height: 12px;
      color: #1f80b5;
    }
    & p {
      @include fontStyle();
      color: $color1;
    }
  }
  &__calculation {
    width: 35%;
    float: right;
    & table {
      width: 100%;
    }
    & td {
      @include fontStyle();
      font-weight: 600;
      line-height: 10px;
      color: $color1;
      padding: 4px 15px;
    }
    &-tr {
      background: #1f80b54d;
      & td {
        padding: 10px 15px;
        color: #065c8b;

        &:first-child {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        &:last-child {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
  &__pay-btn{
    @include fontStyle();
    font-weight: 700;
    line-height: 10px;
    color: white;
    text-transform: uppercase;
    padding: 7px 0;
    background: $colorBlue;
    width: 100%;
    display: block !important;
    text-align: center;
    text-decoration: underline;
    border-radius: 8px;
    & a{
        color: white;
    }
  }
  &__footer{
    @extend .clear__both;
    padding: 20px 25px;
  }
  &__form{
    box-sizing: border-box;
    width: 75%;
    padding-right: 30px;
    float: left;
  }
  &__signature{
    width: 22%;
    float: right;
    text-align: right;
    &-border{
      display: block;
      border-bottom: 1px solid $color1;
      margin: 5px 0 5px;
    }
  }
  &__credit{
    display: block;
    width: 100%;
    @extend .clear__both;
    text-align: center;

    & h2 {
        @include fontStyle();
        font-weight: 600;
        line-height: 14px;
        margin: 0 auto;
    }
    &-logo{
      display: inline-block;
    }
    & img{
        display: block;
        width: 14px;
        height: 13px;
    }
  }
}
